 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  height:100%;
  width:100%;
  background-image: url("assets/sfondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: system-ui, sans-serif;
  color: red;
}
.titolo {

  font-family: 'Press Start 2P', monospace;
  color: #20B2AA;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;


}
.container {
  background-color: #2b5e7c;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px green, 0 0 20px green;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  animation: glitch 3s infinite;
  background-attachment: fixed;
}
button{
    background: transparent;
    border: none !important;
}
.bottone {
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: 'Press Start 2P', monospace;
}
.bottone:hover {
  transition: transform 0.3s;
  transform: scale(1.03);

}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup-content-schermo{
  background-image:url(schermo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px green, 0 0 20px green;
  padding: 20px;
  margin: 20px auto;
  animation: glitch 3s infinite;
  
}
.popup-content-foglio {
  background-color: #2b5e7c;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px green, 0 0 20px green;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  animation: glitch 3s infinite;
}

.container2 form {
  margin-bottom: 20px;
}

.radio2 {
 width: 100px;
 height: auto;
}
img{
  display:flex;
  max-height:200px;
  max-width:200px;
}
#schermo {
  z-index: 3;
  position:absolute;
  top: 56%;
  left: 36%;
  max-height:150%;
  height:200px;
}    

#antenna {
  top: 43%;
  left: 30%;
  z-index: 2;
  position:absolute;
}
#foglio{

  max-height:200px;
  max-width:200px;

  height: 70px;
  width:90px;
  
}


/* EFFETTO GLITCH */
@keyframes glitch {
  0%, 100% {
    text-shadow: none;
    transform: none;
  }
  10% {
    text-shadow: 2px 0 red, -2px 0 blue;
    transform: translateX(-1px);
  }
  20% {
    text-shadow: -2px 0 red, 2px 0 blue;
    transform: translateX(1px);
  }
  30% {
    text-shadow: 2px 2px lime, -2px -2px magenta;
    transform: translateY(1px);
  }
  40% {
    text-shadow: none;
    transform: none;
  }
  60% {
    text-shadow: -1px -1px cyan, 1px 1px magenta;
    transform: translateX(-1px);
  }
  80% {
    text-shadow: 1px 0 yellow, -1px 0 cyan;
    transform: translateY(-1px);
  }
}





label {
  display: block;
  margin-top: 1rem;
}

input[type="submit"], .interag {
  position: absolute;
  background-color: yellow;
}